<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <title>StoryPages</title>
</head>
<body>
          {{>_header}}
          {{>_add_btn}}
    <div class="container">
          {{{body}}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/34.0.0/ckeditor.js" integrity="sha512-a1b2DA9YM43xX95UuuO9sHIHqrNPjOxj4BiPDxGzypGsgcWdrhUn6JKCrg8kEKR0iveF8AboCUxOr1bU9NN5Xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        M.Sidenav.init(document.querySelector('.sidenav')) 
        M.FormSelect.init(document.querySelector('#status'))
        
        ClassicEditor
        .create( document.querySelector( '#body' ) )
        .catch( error => {
            console.error( error );
        } );
    </script> 
    
</body>
</html>

