
p {
   margin : 10px 0 !important;
}
.login-container {
    width: 650px ;
    margin-top: 65px;
    text-align: center;
}

.fa-small{
     font-size: 15px !important;
}

.btn-float {
     float: left;
     margin-right: 10px;
}

.img-small{
     width: 140px;
}

